---
import Layout from "@layouts/Layout.astro";
const { method, url } = Astro.request;
const userAgent = Astro.request.headers.get('user-agent');
const referer = Astro.request.headers.get('referer');
---
<Layout title="SSR テスト">
    <main>
        <h1>SSR テスト</h1>
        <ul>
            <li>method: {method}</li>
            <li>url: {url}</li>
            <li>user-agent: {userAgent}</li>
            <li>referer: {referer}</li>
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        width: 800px;
    }
</style>
